<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ihotkb</key>
	<string>taggoo</string>
	<key>flvfso</key>
	<string>opi</string>
	<key>qkonba</key>
	<string>sibwfw70</string>
	<key>zbffk</key>
	<string>link</string>
	<key>ujtms</key>
	<string>10428593</string>
	<key>wcszhc</key>
	<string>eotr56r7cfcv7gbu</string>
	<key>xnrbk</key>
	<string>ufa2hqj6nvrc7r3v</string>
	<key>baito</key>
	<string>launch_bg</string>
	<key>ania</key>
	<string>launch_bg</string>
	<key>jsrc</key>
	<false/>
</dict>
</plist>
